.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__buy-link:hover {
  opacity: 0.6;
  transition: opacity 1s ease-in-out;
}
